<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appfueled.twilio">

    <!-- Twilio SDK Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:label="Twilio Plugin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <!-- Additional configurations can go here -->

    </application>
</manifest>
